#!/bin/bash
#Ticket BP-1819
STATE_OK=0
STATE_WARNING=1
STATE_CRITICAL=2

REDIS_HOST='{{dyn_redis_galahad}}'
#REDIS_HOST='galahad-st.btvrg1.0001.usw2.cache.amazonaws.com'
REDIS_PORT=6379
REDIS_CMD="redis-cli -h $REDIS_HOST -p $REDIS_PORT"

history='/tmp/nagios-redis-galahad.log'
error=0
speed=100

#When anni starts, queue length reaches maximum almost immediately, then decreases gradually until zero
#When queue is not empty, its length has to decrease $speed between 2 checks
#Previous check is recorded in file $history

for queue in $($REDIS_CMD keys _kombu.binding.* | cut -d '.' -f3 | grep -v celeryev | sort -u); do
  newlength=$($REDIS_CMD llen $queue)
  newdelta=$(echo "$newlength + $speed" | bc)
  oldtmp=$(grep "^$queue," $history | cut -d',' -f2)
  oldlength=${oldtmp:-0}
  if [ "$newdelta" -ge "$oldlength" ] && [ "$newlength" -ne 0 ]; then
    error=1
  fi
  report=$(echo "$report,$queue,$newlength")
  sed -i "/^${queue},/d" $history
  echo "$queue,$newlength" >>$history
done

if [ "$error" -eq 0 ]; then
  echo "OK: Redis $REDIS_HOST Queues look normal $report"
  exit $STATE_OK
else
  echo "CRITICAL: Redis $REDIS_HOST Queues not decreasing timely $report"
  exit $STATE_CRITICAL
fi
