# Hosts definition
define host {
	use 			generic-host
	address 		localhost
	host_name 		aaa-nagios
	max_check_attempts	10
}

{% for host in allhosts %}
define host{
        use                     linux-server
        host_name               {{hostvars[host]['ec2_tag_Name']|default('noname')}}-{{hostvars[host]['ec2_private_ip_address']}}
        alias                   {{hostvars[host]['ec2_private_dns_name']}}
        address                 {{hostvars[host]['ec2_private_ip_address']}}
	hostgroups		{% if host in alluwsgi %}uwsgi-servers,{% endif %}linux-servers
        }

{% endfor %}
