# Services Definition
# Default services of linux-servers
{% for service in linux_generic_services %}
define service {
	service_description {{service}}
	hostgroup_name linux-servers
	check_command check_nrpe!check_{{service}}
	use generic-service
}
{% endfor %}

# Default services of uwsgi-servers
{% for service in uwsgi_services %}
define service {
        service_description {{service}}
        hostgroup_name uwsgi-servers
        check_command check_nrpe!check_{{service}}
        use generic-service
}
{% endfor %}

define service {
       service_description ssh
       hostgroup_name linux-servers
       check_command check_ssh
       use generic-service
}

define service{
	use				generic-service
	host_name                       aaa-nagios
	service_description             Redis galahad queues
	check_command			check_redis_galahad
	notifications_enabled		1
	}
