[dev]
aws_access_key_id={{aws_access_keys['access_key']['dev']}}
aws_secret_access_key={{aws_access_keys['security_key']['dev']}}

[stg]
aws_access_key_id={{aws_access_keys['access_key']['stg']}}
aws_secret_access_key={{aws_access_keys['security_key']['stg']}}

[prod]
aws_access_key_id={{aws_access_keys['access_key']['prod']}}
aws_secret_access_key={{aws_access_keys['security_key']['prod']}}
