---
vault: {{vault_password}}

ssh_keys:
  orchestration:
    public:
      dev:  "{{ lookup('file', '{{playbook_dir}}/tmp/id_rsa.tmp-dev.pub') }}"
      stg:  "{{ lookup('file', '{{playbook_dir}}/tmp/id_rsa.tmp-stg.pub') }}"
      prod: "{{ lookup('file', '{{playbook_dir}}/tmp/id_rsa.tmp-prod.pub') }}"
    private:
      dev:  "{{ lookup('file', '{{playbook_dir}}/tmp/id_rsa.tmp-dev')|b64encode}}"
      stg:  "{{ lookup('file', '{{playbook_dir}}/tmp/id_rsa.tmp-stg')|b64encode}}"
      prod: "{{ lookup('file', '{{playbook_dir}}/tmp/id_rsa.tmp-prod')|b64encode}}"

