global
  log /dev/log	local0
  log /dev/log	local1 notice
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  user haproxy
  group haproxy
  daemon

# Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private
# Default ciphers to use on SSL-enabled listening sockets.
# For more information, see ciphers(1SSL). This list is from:
# https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
  ssl-default-bind-options no-sslv3

defaults
  log	global
  mode	http
  option	httplog
  option	dontlognull
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http    

# Stats page
listen admin
  bind  :8081
  mode  http
  stats enable 
  stats uri /stats

# Dynamic DNS
resolvers dns
  nameserver aws 169.254.169.253:53
  nameserver google 8.8.8.8:53
  hold valid 60s

# HTTP frontend for all
frontend http-in
  bind :80
  mode http
  option httplog

# Define ACL: 
  acl celcom_nms_url_test    url_reg      header_test.php
# acl celcom_domain    	     hdr(host) -i {{ celcom_domain_name[env] | default(celcom_domain_name['default']) }}
  
# backend define
  use_backend nmsweb if celcom_nms_url_test
  
# Default backend: 
  default_backend galahad  

backend nmsweb
  option  httplog
  option  httpclose
  option  forwardfor
  balance roundrobin
  server  elb1-nmsweb {{ backend_nmsweb[env] | default(backend_nmsweb['default']) }}:80 check inter {{ healthcheck }} resolvers dns resolve-prefer ipv4
  server  elb2-nmsweb {{ backend_nmsweb[env] | default(backend_nmsweb['default']) }}:80 check inter {{ healthcheck }} resolvers dns resolve-prefer ipv4

backend galahad
  option  httplog
  option  httpclose
  option  forwardfor
  balance roundrobin
  server  elb1-galahad {{ backend_galahad[env] | default(backend_galahad['default']) }}:80 check inter {{ healthcheck }} resolvers dns resolve-prefer ipv4
  server  elb2-galahad {{ backend_galahad[env] | default(backend_galahad['default']) }}:80 check inter {{ healthcheck }} resolvers dns resolve-prefer ipv4
